{% extends 'base.html' %}
{% block title %}Azola Qakaqu - Projects{% endblock %}
{% block content %}
<section class="project-section p-4 my-5 text-white">
    <h2 class="mb-4">My Projects</h2>
    
     <div class="card mb-3">
        <div class="card-body">
            <h3 class="card-title">Cars.co.za | Sentiment Analysis Dashboard</h3>
            <p class="card-text">Developed a dashboard to analyze YouTube comments, providing actionable insights using natural language processing and Recommendation for cars.co.za.</p>
            <p class="card-text"><strong>Tech Stack:</strong> Flask, Python, Render</p>
            <a href="https://car-sense-t14j.onrender.com/" class="btn btn-primary">View Live</a>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <h3 class="card-title">Sentiment Analysis Dashboard</h3>
            <p class="card-text">Developed a dashboard to analyze YouTube comments, providing actionable insights using natural language processing.</p>
            <p class="card-text"><strong>Tech Stack:</strong> Python, Streamlit</p>
            <a href="https://sentiment-dashboard-evzvmpqgutwht5bubgbh4u.streamlit.app/" class="btn btn-primary">View Live</a>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <h3 class="card-title">AI Resume Builder</h3>
            <p class="card-text">Created an AI-powered tool to generate ATS-optimized resumes, streamlining job applications.</p>
            <p class="card-text"><strong>Tech Stack:</strong> Lovable, Make, AI APIs</p>
            <a href="https://resume-ai-craft-92.lovable.app/auth" class="btn btn-primary">View Live</a>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <h3 class="card-title">AI Chatbot</h3>
            <p class="card-text">Built a conversational chatbot to enhance user engagement on digital platforms.</p>
            <p class="card-text"><strong>Tech Stack:</strong> Landbot, DialogFlow</p>
            <a href="https://landbot.online/v3/H-2922357-SPAOQ33G907HWDHD/index.html" class="btn btn-primary">View Live</a>
        </div>
    </div>
</section>
{% endblock %}
